FLASK_APP=run.py
FLASK_ENV=development
PORT=5000
HOST=0.0.0.0

# Model URLs
HF_MODEL_URL=https://huggingface.co/zainnasir010/action-recognition-cnn-lstm/resolve/main/action_recognition_model.pth
HF_ENCODER_URL=https://huggingface.co/zainnasir010/action-recognition-cnn-lstm/resolve/main/label_encoder.pkl

# Application Settings
CORS_ALLOWED_ORIGINS=*
MAX_CONTENT_LENGTH=52428800
SEQUENCE_LENGTH=20
LSTM_HIDDEN=256
LSTM_LAYERS=2
DROPOUT=0.3
